h1, h2, h3, h4, h5 {
    font-weight: bold;
    font-size: 25px;
}

body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    padding-top: 57px; /* Ajusta según la altura de tu navbar */
}

hr {
    border: none; /* Elimina el borde predeterminado */
    height: 2px; /* Grosor de la línea */
    background-color: black; /* Color de la línea */
    width: 85vw; /* La línea ocupará el 50% del ancho */
    max-width: 1300px;
    margin: 20px auto; /* Centra la línea horizontalmente */
}

.container {
    width: 85wh;
}
/* Contenedor principal del carrusel */
.swiper {
    height: 45vh; /* Ajuste personalizado según diseño */
    width: 90vw; /* Ajuste personalizado según diseño */
    max-width: 1600px;
    overflow: hidden; /* Esconde cualquier desbordamiento */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav .nav-link {
    opacity: 1 !important; /* Sin transparencia */
    color: white !important; /* O un color negro u oscuro (puedes ajustarlo) */
}


/* Título */
.text-overlay .title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

/* Descripción */
.text-overlay .description {
    font-size: 1rem;
    margin: 5px 0 0 0;
}

/* Cada diapositiva del carrusel */
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transiciones suaves */
}



/* Imágenes dentro del carrusel */
.swiper-slide img {
    max-width: 80%; /* Tamaño más grande en pantallas grandes */
    max-height: 75%; /* Aumentar la altura estándar */
    width: auto;
    height: auto;
    object-fit: scale-down;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Sombra ligeramente más acentuada */
}


/* Estilo para imágenes de las diapositivas laterales */
.swiper-slide-next img,
.swiper-slide-prev img {
    opacity: 0.8; /* Imágenes laterales más atenuadas */
    transform: scale(0.8); /* Tamaño reducido para imágenes laterales */
}

/* Ocultar texto en las diapositivas laterales */
.swiper-slide-prev .text-overlay,
.swiper-slide-next .text-overlay {
    display: none; /* Elimina por completo el texto de las diapositivas laterales */
}


/* Imagen activa (principal) */
.swiper-slide-active img {
    opacity: 1; /* Imagen completamente visible */
    transform: scale(1.2); /* Imagen central más grande */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transiciones más suaves */
}

.image-container {
    position: relative; /* Necesario para posicionar elementos internos absolutos */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Imagen */
.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px; /* Opcional, para bordes redondeados */
}

/* Título */
.text-overlay .title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

/* Descripción */
.text-overlay .description {
    font-size: 1rem;
    margin: 5px 0 0;
}

/* Sección del título */
.section-title {
    margin-bottom: 20px; /* Espacio debajo del título */
    text-align: center; /* Asegura que el texto esté centrado */
}

.section-title .title {
    font-size: 2rem; /* Tamaño del texto del título */
    text-transform: uppercase; /* Opcional: transforma a mayúsculas */
    margin: 0; /* Controla márgenes externos */
    padding: 10px; /* Espaciado interno superior/inferior */
}

.overlay-title h2 {
    font-size: 2.5rem; /* Tamaño del texto */
    color: black; /* Color del texto */
    text-transform: uppercase; /* Opcional, transforma el texto en mayúsculas */
    margin: 0; /* No hay margen adicional */
}

/* Sección Informativa - Responsiva */
#geomatica-info {
    background-color: #f4f4f4; /* Fondo claro para separación visual */
    padding: 20px; /* Espaciado interno */
}

#geomatica-info .section-title,
#geomatica-pdf .section-title {
    font-family: 'Noto Sans Thai Looped', sans-serif;
    font-size: 2.5rem; /* Tamaño destacado del título */
    font-weight: bold;
    color: #333333; /* Color oscuro para contraste */
    text-align: center; /* Título centrado */
}

#geomatica-info .description,
#geomatica-pdf .description {
    font-family: 'Noto Sans Thai Looped', sans-serif;
    font-size: 1.125rem; /* Tamaño algo mayor para facilidad de lectura */
    line-height: 1.5; /* Espaciado entre líneas */
    text-align: justify; /* Alineación justificada */
    color: #555555; /* Color gris medio para un texto más suave */
}

/* Ajuste responsivo */
@media (max-width: 768px) { /* Tablets */
    #geomatica-info .section-title {
        font-size: 1.5rem; /* Reducir el tamaño del título */
    }

    #geomatica-info .description {
        font-size: 0.95rem; /* Reducir tamaño del texto */
    }

    .swiper-slide img {
        max-height: 240px;
        max-width: 400px; /* Reducir tamaño de las imágenes */
    }
    .swiper-slide-next img,
    .swiper-slide-prev img {
        transform: scale(0.75); /* Reducir un poco más en tablets */
    }
    .swiper-slide-active img {
        transform: scale(1.15); /* Imagen activa más grande, pero no demasiado */
    }
    .overlay .title {
        font-size: 1rem;
    }

    .overlay .description {
        font-size: 0.9rem;
    }
    .text-overlay .title {
        font-size: 1rem;
    }
    .text-overlay .description {
        font-size: 0.9rem;
    }


}

@media (max-width: 576px) { /* Móviles */
    #geomatica-info .section-title {
        font-size: 1.3rem; /* Título más pequeño */
    }

    #geomatica-info .description {
        font-size: 0.9rem; /* Ajuste final para pantallas pequeñas */
    }

    .swiper-slide img {
        max-width: 260px; /* Reducir tamaño de las imágenes */
        max-height: 200px;
    }
    .swiper-slide-next img,
    .swiper-slide-prev img {
        transform: scale(0.7); /* Tamaño más pequeño en móviles */
    }
    .swiper-slide-active img {
        transform: scale(1.1); /* Imagen activa un poco más grande */
    }
    .overlay .title {
        font-size: 0.9rem;
    }

    .overlay .description {
        font-size: 0.8rem;
    }
    text-overlay .title {
        font-size: 0.9rem;
    }
    .text-overlay .description {
        font-size: 0.8rem;
    }


}

/* Contenedor de los cards alineados justificados */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 1536px;
    margin: 20px auto;
    padding: 0 20px;
}


.flip-card {
    background-color: transparent;
    width: 100%;
    height: 300px;
    max-width: none;
    padding: 0;
    perspective: 1000px; 
    border-radius: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px; 
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.flip-card-front {
    background-color: transparent;
    color: black;
    display: grid; /* Para alinear el contenido */
    justify-content: center;
    align-items: center; /* Centra la imagen verticalmente */
    width: 100%;
    height: 100%; /* Asegura que el contenedor tenga la altura adecuada */
    overflow: hidden; /* Evita que la imagen se salga */
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-front img {
    width: 100%;
    height: auto;
    max-height: 100%; /* Evita que sea más grande que el contenedor */
    object-position: center; /* Centra la imagen */
    aspect-ratio: auto;
}